<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="saurabhkt">
		<title>Vertical Navbar</title>
		<link rel="stylesheet" href="/css/vertical-navbar.css">
	</head>
	<body>
		<nav id="navbar-main">
			<a href="#" class="nav-toggle-btn"><img class="menu-icon" src="/img/menu_small.png"></a>
	        <a href="#" class="nav-close-btn"><img class="close-icon" src="/img/close_small.png"></a>
	        <ul>
	            <li><a href="#page1">Menu A</a></li>
	            <li><a href="#page2">Menu B</a></li>
	            <li><a href="#page3">Menu C</a></li>
	            <li><a href="#page4">Menu D</a></li>
	        </ul>
		</nav>
		<div class="page">
			<h2 style="margin: 40px;">< content goes here ></h2>
		</div>
		<script src="/js/vertical-navbar.js"></script>
	</body>
</html>